<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>buscar</servlet-name>
        <servlet-class>servlet.buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscar2</servlet-name>
        <servlet-class>servlet.buscar2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>servlet.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crud_usuarios</servlet-name>
        <servlet-class>servlet.crud_usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>servlet.session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar_sesion</servlet-name>
        <servlet-class>servlet.cerrar_sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buscar</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscar2</servlet-name>
        <url-pattern>/buscar2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crud_usuarios</servlet-name>
        <url-pattern>/crud_usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar_sesion</servlet-name>
        <url-pattern>/cerrar_sesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
